
body{
    background-color: green;
}

section{
    display: grid;
    padding: 15px;
    border: 4px solid red;
    gap: 15px;
    margin: 4px;
}
header{
    text-align: center;
    text-decoration: aqua;
    background-color: blueviolet;
    margin-top: 2px;
    padding: 3em;
}
h2{
    text-align: center;
}
.col-2{
    display: grid;
    grid-template-columns: 1fr;
}
.col-3{
    display: grid;
    grid-template-columns: 1fr;
}
.col-4{
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width:600px) {
    .col-2, .col-4{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 768px) {
    .col-3{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col-4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
footer{
    text-align: center;
    background-color: aqua;
    font-size: 150%;
}



@media screen and (min-width: 600px) {
    .s1{
        
        grid-template-columns: 1fr 1fr ;
        grid-template-areas:
        "aside1" "aside2" "main";
    
    
    }
    
}
@media screen and (min-width: 768px) {
    .s1{
       
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "aside1 aside2 main";
    
    
    }
    
}
@media screen and (max-width: 960px) {
    .s1{
        text-align: justify;
        
        


    }
    
}

